
                  <div class="card">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-dark text-xs font-weight-bolder">Name</th>
                            <th class="text-uppercase text-xs font-weight-bolder ps-2 text-primary">Honor</th>
                            <th class="text-center text-uppercase text-dark text-xs font-weight-bolder">Rank</th>
                            <th class="text-center text-uppercase text-dark text-xs font-weight-bolder">Language</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of honourData">
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div>
                                  <img src="assets/soft-ui/img/illustrations/avatar.svg" class="avatar avatar-sm me-3">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-xs text-capitalize">{{data.username}}</h6>
                                  <p class="text-xs text-secondary mb-0">Username here</p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{data.honour}}</p>
                              <p class="text-xs text-secondary mb-0">Honor here</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <span class="badge badge-sm badge-success text-muted">{{data.overall_rank}}</span>
                            </td>
                            <td class="align-middle text-center">
                              <span class="text-secondary text-xs font-weight-bold text-capitalize">{{data.languages[0].name}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>