<div class="row justify-content-center">
  <h3 class="text-center font-weight-bold text-sm"> Search For Your Language</h3>
  <div class="row col-10">
    <div class="col-md-8 mb-2">
      <input type="text" name="language" class="form-control form-control-sm" [(ngModel)]="language" placeholder="Enter language name">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-sm btn-primary rounded" (click)="getLanguages()">Search</button>
    </div>
  </div>
  <hr class="row col-md-11 d-block mx-auto clear-fix border border-secondary mb-4">
</div>
<div class="card">
  <div class="table-responsive" *ngIf="showTable">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-dark text-xs font-weight-bolder">Name</th>
          <th class="text-uppercase text-dark text-xs font-weight-bolder ps-2">Honor</th>
          <th class="text-center text-uppercase text-dark text-xs font-weight-bolder">Rank</th>
          <th class="text-center text-uppercase text-dark text-xs font-weight-bolder">Language</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of languagesData">
          <td>
            <div class="d-flex px-2 py-1">
              <div>
                <img src="assets/soft-ui/img/illustrations/avatar.svg" class="avatar avatar-sm me-3">
              </div>
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-xs text-capitalize">{{data.username}}</h6>
                <p class="text-xs text-secondary mb-0">Username here</p>
              </div>
            </div>
          </td>
          <td>
            <p class="text-xs font-weight-bold mb-0">{{data.honour}}</p>
            <p class="text-xs text-secondary mb-0">Honor here</p>
          </td>
          <td class="align-middle text-center text-sm">
            <span class="badge badge-sm badge-success text-muted">{{data.overall_rank}}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold text-capitalize">{{data.languages[0].name}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>